.jumbotron {
	/*background-color: white;*/
	/*margin-bottom: 40px;*/
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
}

#chart {
	background-color: #F5F2EB;
	border: 1px solid black;
}
.kmeans-chart {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 9px;
    fill: #ccc;
}

/*.kmeans-chart */
.centroid {
    /*fill: black;*/
    stroke: #000;
    stroke-width: 2px;
}

/*.kmeans-chart */
text.label {
    font-size: 12px;
    fill: black;
}

/*.kmeans-chart */
.axis line, .axis path {
    fill: none;
    stroke-width: 1px;
    stroke: #ccc;
    shape-rendering: crispEdges;
}