
#chart {
	/*background-color: #F5F2EB;*/
	border: 1px solid black;
}


/*.kmeans-chart */
.centroid {
    stroke: #000;
    stroke-width: 2px;
}

/*counter of iteration*/
text.label {                
    font-size: 12px;
    fill: black;
}

