
#chart {
	background-color: #F5F2EB;
	border: 1px solid black;
}
#kmeans {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 9px;
    fill: #ccc;
}

/*.kmeans-chart */
.centroid {
    /*fill: black;*/
    stroke: #000;
    stroke-width: 2px;
}

/*.kmeans-chart  计数器！！*/
text.label {                
    font-size: 12px;
    fill: black;
}

/*.kmeans-chart */
.axis line, .axis path {
    fill: none;
    stroke-width: 1px;
    stroke: #ccc;
    shape-rendering: crispEdges;
}